@import 'mixin';
.transition{
    transition: all .3s;
};
$width: 548;
body {
    @include media((
        margin: '10px 0',
        width: 100%,
        height: (all: 100px, 500-200: 100%, sm: 50%, 548: 10%, print: 10cm),
        font-size: (sm: 12px),
        extend: '.transition',
        transform: (lg: rotate(45deg)),
        background: (
                lg: url('../images/pict.png') center center/cover no-repeat,
                sm-lg: url('../images/pict1.png') center center/cover no-repeat
        )
    ));
}